{% extends 'base.html.twig' %}

{% block title %}Job Offer List
{% endblock %}

{% block body %}
	{% if jobOffers|length == 0  %}
		<h1 class="text-3xl font-bold text-center">
			No Job Offers Saved!!!</h1>
	{% endif %}
	<h1 class="text-3xl font-bold text-center">
		All the jobs Saved</h1>
	<twig:JobOfferFilter/>
{% endblock %}
